body{
	font-family: 'Arial', sans-serif;
	font-size: .9em;
	margin: auto;
	text-align: center;
	margin-bottom: 25px;
}

img{
	border: none;
}

a,
a:hover{
	color: #2c4762;
}

#menu{
	font-size: 1.2em;
}

#alerts{
	font-size: 1.5em;
	margin: 10px;
	color: #000;
}

#alerts span{
	padding: 4px;
	border: 1px solid #ccc;
}

.up{
	background-color: #0f0;
}

.down{
	background-color: #f00;
}

#message{
	margin: auto;
	width: 75%;
	text-align: left;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}

#message p{
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

#status{
	margin: auto;
	text-align: center;
}