body{
	font-family: 'Arial', sans-serif;
	font-size: .9em;
	margin: auto;
	margin-bottom: 25px;
	width: 95%;
	text-shadow: 0px -1px 0px #fff;
	text-align: center;
}

img{
	border: none;
}

a,
a:hover{
	color: #e53f29;
}

#menu{
	font-size: 1.2em;
}

#alerts{
	font-size: 1.5em;
	margin: 10px;
	color: #fff;
}

#alerts span{
	padding: 4px;
	border: 1px solid #ccc;
	font-weight: bold;
	text-shadow: 0px 1px 1px #000;
}

.up{
	background-color: #0d0;
}

.down{
	background-color: #d00;
}

#message{
	margin: auto;
	width: 75%;
	text-align: left;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}

#message p{
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

#contain{
	width: 810px;
	margin: auto;
}

#status{
	float: left;
	margin: auto;
	width: 400px;
}

#twitter{
	float: left;
	font-size: 1.2em;
	width: 400px;
	margin-left: 10px;
}

.tweet{
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 2px solid #444;
}

.clear{
	clear: both;
}

th{
	color: #fff;
	background-color: #2c4762;
	text-shadow: 0px 1px 1px #000;
}