body{
	font-family: 'Arial', sans-serif;
	font-size: .9em;
	margin: auto;
	margin-bottom: 25px;
	text-shadow: 0px -1px 0px #fff;
	text-align: center;
}

img{
	border: none;
}

a,
a:hover{
	color: #e53f29;
}

#top,
#bottom{
	width: 850px;
	margin: auto;
}

#message{
	margin: auto;
	float: left;
	width: 500px;
	text-align: left;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 10px;
}

#message p{
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
}

#status{
	float: left;
	font-size: 1.2em;
	text-align: left;
	width: 300px;
	margin-left: 10px;
}

#status .up{
	color: #0a0;
}

#status .down{
	color: #a00;
}
#alerts{
	float: left;
	font-size: 1.2em;
	color: #fff;
	margin-left: 10px;
}

#alerts div{
	padding: 4px;
	border: 1px solid #444;
	font-weight: bold;
	text-shadow: 0px 1px 1px #000;
	margin-bottom: 4px;
}

#alerts .up{
	background-color: #0d0;
}

#alerts .down{
	background-color: #d00;
}

#twitter{
	margin: auto;
	font-size: 1.2em;
	width: 700px;
}

.tweet{
	padding: 2px;
	height: 50px;
	margin-bottom: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: left;
	background-color: #eee;
}

.tweet img{
	float: left;
	clear: left;
	padding: 2px;
}

.date{
	font-size: .7em;
}

.clear{
	clear: both;
}

th{
	color: #fff;
	background-color: #2c4762;
	text-shadow: 0px 1px 1px #000;
}

.alert{
	color: #f00;
	font-weight: bold;
}